# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/reactbasic/node_modules
/reactbasic/.pnp
/reactbasic/.pnp.js

# testing
/reactbasic/coverage

# production
/reactbasic/build

# misc
/reactbasic/.DS_Store
/reactbasic/.env.local
/reactbasic/.env.development.local
/reactbasic/.env.test.local
/reactbasic/.env.production.local

/reactbasic/npm-debug.log*
/reactbasic/yarn-debug.log*
/reactbasic/yarn-error.log*

# dependencies
/reacthook/node_modules
/reacthook/.pnp
/reacthook/.pnp.js

# testing
/reacthook/coverage

# production
/reacthook/build

# misc
/reacthook/.DS_Store
/reacthook/.env.local
/reacthook/.env.development.local
/reacthook/.env.test.local
/reacthook/.env.production.local

/reacthook/npm-debug.log*
/reacthook/yarn-debug.log*
/reacthook/yarn-error.log*


# dependencies
/reacthttp/node_modules
/reacthttp/.pnp
/reacthttp/.pnp.js

# testing
/reacthttp/coverage

# production
/reacthttp/build

# misc
/reacthttp/.DS_Store
/reacthttp/.env.local
/reacthttp/.env.development.local
/reacthttp/.env.test.local
/reacthttp/.env.production.local

/reacthttp/npm-debug.log*
/reacthttp/yarn-debug.log*
/reacthttp/yarn-error.log*


# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/reactrender/node_modules
/reactrender/.pnp
/reactrender/.pnp.js

# testing
/reactrender/coverage

# production
/reactrender/build

# misc
/reactrender/.DS_Store
/reactrender/.env.local
/reactrender/.env.development.local
/reactrender/.env.test.local
/reactrender/.env.production.local

/reactrender/npm-debug.log*
/reactrender/yarn-debug.log*
/reactrender/yarn-error.log*


